.editor-container {
  border: 1px black solid;
  height: calc(100vh - 100px);
  width: calc(100vw - 50px);
  overflow-y: scroll;
  overflow-x: scroll;
  position: relative;
}

.overlay-container {
  position: absolute;
  width: 100%;
  /* background-color: yellow; 
  opacity: 0.2; */
  z-index: 98;
}